<footer id="mainFooter">

    <div class="container ">
      <div class="row d-flex align-items-center ">
        <div class="col-lg-4 text-center text-lg-start mb-3 mb-lg-0 fs-lg-4">
          Via Roma 3<br>
          70100 Bæri<br>
          ITALY <br>
          <hr class="ft-hr">
          <a class="fw-bold" href="/privacy">Informativa sulla privacy</a>
        </div>
        <div class="col-lg-4 text-center mb-2 mb-lg-0">
          <ul class="list-inline py-2">
            <li class="list-inline-item fs-3"><i class="bi bi-facebook"></i></li>
            <li class="list-inline-item fs-3"><i class="bi bi-instagram"></i></li>
            <li class="list-inline-item fs-3"><i class="bi bi-twitter"></i></li>
          </ul>
        </div>
        <div class="col-lg-4 text-center text-lg-end fs-lg-4 mt-2">
          © MUVT 2022
          <hr class="ft-hr">
        </div>
      </div>
    </div>

  </footer>