<footer id="mainFooter">

    <div class="container">
      <div class="row d-flex align-items-center py-5">
        <div class="col-lg-4 text-center text-lg-start mb-3 mb-lg-0">
          Vicolo Corto 12<br>
          10100 Barletta<br>
          ITALY
        </div>
        <div class="col-lg-4 text-center mb-2 mb-lg-0">
          <ul class="list-inline">
            <li class="list-inline-item"><i class="bi bi-facebook"></i></li>
            <li class="list-inline-item"><i class="bi bi-instagram"></i></li>
            <li class="list-inline-item"><i class="bi bi-twitter"></i></li>
          </ul>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
          © MUVT 2022
        </div>
      </div>
    </div>

  </footer>