<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="home.html">
        <img src="./IMG/MUUUUVT.png" alt="" width="180">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center align-items-center">
          <li class="nav-item ">
            <a class="nav-link btn" href="pannello.html" th:if="${role == 'admin'}">Pannello</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="disponibilita.html">Disponibilità</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" aria-current="page" href="utente.html">Profilo</a>
          </li>
          <li class="nav-item d-flex d-lg-block">
            <a class="nav-link btn btn-primary mx-auto px-2 " href="login.html" th:if="${sessione == 'off'}">Login</a>
            <a class="nav-link btn btn-primary mx-auto px-2 " href="homepage.html" th:unless="${sessione == 'off'}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>