/* OVERRIDE COLORI BOOTSTRAP  */
.btn-primary {
    background-color:#00e687;
    border-color: #00e687;
}

.btn-primary:hover, .btn-primary:active {
    /*sovrascrivo i colori dei pulsanti  al passaggio del mouse*/
    background-color:#00995a;
    border-color: #00995a;

}

.nav-link:hover {
    color:#00995a;
}

.logo {
    width: 10rem;
}

.nav-link {
    color:#00e687;
}


.hero {
    font-family: 'Rubik', sans-serif;
    font-style: italic;
}

.cta {
    position: absolute;
    top: 85%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  
}

.swiper {
  padding-bottom: 3rem;
}
.swiper-slide img {
    width: 100%;
    height:auto;
}

.swiper-button-next, .swiper-button-prev {
    width:1rem;
    height:1rem;
}


.serviziImg img {
    width: 100%;
    height: auto;
}

.card-title {
    font-family: 'Rubik', sans-serif;
    font-style: italic;
}

.list-group-item {
    font-family: 'Rubik', sans-serif;
    font-style: italic;
}

#imageSpacer {
    height:30rem; /*è un DIV vuoto, allora forzo un'altezza per mostrarlo sulla pagina*/
    background: url('https://cutsrl.com/45607-home_default/new-tappeto-verde-acqua-da-4-mm-qualsiasi-dimensione-extra-grip-prezzo-al-metro-quadro.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

#mainFooter {
    background:#00995a;
    color:black;
}



/* -------------------------------------------------------------------------- */
/*                                 OFF-CANVAS                                 */
/* -------------------------------------------------------------------------- */


@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top: 56px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: #343a40;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(-100%);

      z-index:99;
    }
  }

