<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head">

  <title>MUVT Disponibilità</title>

</head>

<body>

  <div id="header">
    <nav th:replace="fragment/nav"></nav>
  </div>

  <div class="wrapper-page">
    <div class="container greenbg">
      <div class="d-flex flex-wrap justify-content-around">
        <button class="btn btn-primary px-2 italic font" id="auto">AUTOMOBILI</button>
        <button class="btn btn-primary px-2 italic font" id="moto">MOTO</button>
        <button class="btn btn-primary px-2 italic font" id="bici">BICICLETTE</button>
        <button class="btn btn-primary px-2 italic font" id="monopattino">MONOPATTINI</button>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <!-- ----------------------------------------------------------------------- -->
        <!--                             Barra laterale                              -->
        <!-- ----------------------------------------------------------------------- -->
        <div class="col-12 col-xl-4 position-relative">
          <div class="p-3 rounded-3 filtri-disp" style="background-color: #ffff;">
            <ul class="list-unstyled">
              <li class="mb-2">
                <label class="form-check-label" for="disponibili"><b class="italic font">Città:</b></label>
                <select class="form-select mb-2" aria-label="select example" id="cityFilter">
                  <option selected value="Milano" id="Milano">Milano</option>
                  <option value="Torino" id="Torino">Torino</option>
                  <option value="Roma" id="Roma">Roma</option>
                  <option value="Bari" id="Bari">Bari</option>
                  <option value="Lecce" id="Lecce">Lecce</option>
                </select>
              </li>
              <li class="mb-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="disponibili" checked>
                    <label class="form-check-label" for="disponibili">
                      Mostra solo veicoli disponibili
                    </label>
                </div>
              </li>
              <li class="mb-2">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="non-disponibili">
                    <label class="form-check-label" for="non-disponibili">
                      Mostra veicoli non disponibili
                    </label>
                  </div>
                
              </li>

            </ul>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="row" id="ouput-div1"></div>
          <div class="row" id="ouput-div2"></div>
          <div class="row" id="ouput-div3"></div>
          <div class="row" id="ouput-div4"></div>
        </div>


      </div>

    </div>
  </div>






  <footer th:replace="fragment/footer"></footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

  <script id="template-swiper" type="text/x-handlebars-template">
    {{#each veicoli}}
    <div class="col-12">
     <div class="card mb-4">
        <div class="row g-0">
          <div class="col-md-4">
            <img th:src="@{{{this.immagine}}}"
              class="img-fluid rounded-start" alt="#">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{this.marca}} {{this.modello}}</h5>
              <p class="card-text">{{this.descrizione}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Alimentazione: {{this.alimentazione}} Trazione: {{this.trazione}}</li>
              <li class="list-group-item">{{this.categoria}}</li>
            </ul>
            <div class="card-body">
              <button class="btn btn-primary" id="{{this.id}}" onclick="getRedirection(this.id)">Dettaglio veicolo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      {{/each}}
  </script>

  <script th:src="@{/js/handleId.js}"></script>
  <script th:src="@{/js/redirect.js}"></script>
  <script>
    document.minPriceIdIN.oninput = function () {
      document.minPriceIdOU.value = document.minPriceIdIN.value;
    }
  </script>

  <script>
    document.maxPriceIdIN.oninput = function () {
      document.maxPriceIdIN.value = document.maxPriceIdIN.value;
    }
  </script>
</body>

</html>