<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragment/head">

    <title>MUVT Disponibilità</title>

  </head>

<body onload="getVeicoliById('auto')">


  <div id="header">

      <div id="header">
    <nav th:replace="fragment/nav"></nav>
    </div>

    <div class="container greenbg">
      <div class="d-flex flex-wrap justify-content-around">
        <button class="btn btn-primary px-2 italic font" id="auto" onclick="getVeicoliById(this.id)">AUTO</button>
        <button class="btn btn-primary px-2 italic font" id="moto" onclick="getVeicoliById(this.id)">MOTO</button>
        <button class="btn btn-primary px-2 italic font" id="bici" onclick="getVeicoliById(this.id)">BICI</button>
        <button class="btn btn-primary px-2 italic font" id="monopattino" onclick="getVeicoliById(this.id)">MONOPATTINO</button>
      </div>
    </div>


    <div class="container" id="ouput-div1"></div>
    <div class="container" id="ouput-div2"></div>
    <div class="container" id="ouput-div3"></div>
    <div class="container" id="ouput-div4"></div>
  </div>
  </div>


  <footer th:replace="fragment/footer"></footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

  <script id="template-swiper" type="text/x-handlebars-template">
    {{#each veicoli}}
     <div class="card my-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img th:src="@{{{this.immagine}}}"
              class="img-fluid rounded-start" alt="#">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{this.marca}}</h5>
              <p class="card-text">La citycar migliore di sempre è qui. Comoda ed agile è perfetta per l'utilizzo
                urbano.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Alimentazione: {{this.alimentazione}} Trazione: {{this.trazione}}</li>
              <li class="list-group-item">{{this.categoria}}</li>
            </ul>
            <div class="card-body">
              <button class="btn btn-primary" id="{{this.id}}" onclick="getRedirection(this.id)">Prenota</button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
  </script>

  <script th:src="@{/js/handleId.js}"></script>
  <script th:src="@{/js/redirect.js}"></script>

</body>

</html>