<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/head">

  <title>MUVT 404</title>

</head>

<body >

  <div id="header">
    <nav th:replace="fragment/nav"></nav>
  </div>
  
  <div class="container my-5 pb-5">
    <div id="404">
    <a href="/" class="btn btn-primary italic font fs-2" >Vai alla home</a>

    <div class="row g-0">
      <div class="col-6 border border-danger d-flex align-items-center justify-content-center ">
        <img th:src="@{/IMG/mb.png}" alt="">
      </div>
      <div class="col-6 border border-danger">
        <h1>Puoi accede</h1>
        <h2>Our Engineers are on it</h2>
      </div>
    </div>
      
  </div>

  <footer th:replace="fragment/footer"></footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>

</body>

</html>