<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head">

  <title>Pannello di gestione</title>

</head>

<body>
  <div id="header">
    <nav th:replace="fragment/nav"></nav>
  </div>


  <div class="container mb-5">
    <div class="d-flex flex-wrap justify-content-around">
      <button class="btn btn-primary px-5 mt-3 italic font" id="Aggiungi">Aggiungi</button>
    </div>

    <table class="table table-striped align-middle">

      <thead>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td class="">campo 1</td>
          <td class="">campo 2</td>
          <td class="">campo 3</td>
          <td class="">campo 4</td>
          <td>
            <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary italic font" data-bs-toggle="modal" data-bs-target="#update">
              Modifica
          </button>
          </td>
          <td><button class="btn btn-warning italic font" data-bs-toggle="modal" data-bs-target="#delete" id="Elimina">Elimina</button></td>
        </tr>
       
      </tbody>
    </table>
  </div>

  <footer th:replace="fragment/footer"></footer>


<!-- Modal 4 update-->
<div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifica il veicolo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">



        <form action="">
          <div class="container my-5">
          <h2 class="title mb-5">Contattaci</h2>
            <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleInput" class="form-label">Marca</label>
                <input type="text" class="form-control" id="exampleInput">
              </div>
              <div class="mb-3">
                <label for="exampleInput2" class="form-label">Modello</label>
                <input type="text" class="form-control" id="exampleInput2">
              </div>
              <div class="mb-3">
                <label for="exampleInput3" class="form-label">Prezzo</label>
                <input type="number" class="form-control" id="exampleInput3">
              </div>
              
              <div class="mb-3">
                <select class="custom-select form-control">
                  <option selected>Trazione</option>
                  <option value="1">Anteriore</option>
                  <option value="2">Posteriore</option>
                  <option value="3">Integrale</option>
                </select>
              </div>
              <div class="mb-3">
                <select class="custom-select form-control">
                  <option selected>Alimentazione</option>
                  <option value="1">Diesel</option>
                  <option value="2">Benzina</option>
                  <option value="3">Elettrica</option>
                  <option value="3">Muscolare</option>
                </select>
              </div>
              <div class="mb-3">
                <select class="custom-select form-control">
                  <option selected>Status</option>
                  <option value="1">Prenotata</option>
                  <option value="2">Disponibile</option>
                  <option value="3">Non disponibile</option>
                </select>
              </div>
              <div class="mb-3">
                <input type="file" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02">Scegli immagine</label>
              </div>

            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="formGroupExampleInput3" class="form-label">Descrizione</label>
                <textarea class="form-control" placeholder="Leave a comment here"  style="height: 210px"></textarea>
              </div>
              <div class="mb-3">
                <select class="custom-select form-control">
                  <option selected>Cambio</option>
                  <option value="1">Manuale</option>
                  <option value="2">Automatico</option>
                  <option value="3">-</option>
                </select>
              </div>
              <div class="mb-3">
                <select class="custom-select form-control">
                  <option selected>Categoria</option>
                  <option value="1">Auto</option>
                  <option value="2">Moto</option>
                  <option value="2">Bicicletta</option>
                  <option value="3">Monopattino</option>
                </select>
              </div>
              
              
            </div>
            </div>
            
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 delete-->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminazione del veicolo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sei sicuro di voler eliminare il veicolo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Elimina</button>
      </div>
    </div>
  </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
</body>

</html>
