<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/head">

  <title>MUVT Privacy</title>

</head>

<body >

  <div id="header">
    <nav th:replace="fragment/nav"></nav>
  </div>
  
  <div class="container my-5 pb-5">
    <div id="privacy">
      <h1>Privacy</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae itaque, quos dolorem necessitatibus in soluta voluptate libero dolore maiores blanditiis, assumenda esse facilis illum repudiandae cumque, hic quod. Vel, maiores?
        Amet dignissimos reprehenderit incidunt, eligendi perspiciatis nostrum beatae neque exercitationem eaque, tenetur laboriosam nobis doloremque sequi cumque accusamus soluta ad. Itaque voluptatibus harum incidunt tempore cupiditate expedita quia maiores exercitationem.
        Odit molestiae, consectetur hic deleniti assumenda possimus explicabo doloribus qui ratione aperiam reprehenderit vel, quo tempora illum enim at obcaecati, voluptas illo iste officia delectus? Illum repellendus tempore dicta cum.
        Doloribus hic dolorum tempore sapiente ullam laboriosam aliquam. Voluptate aspernatur, eligendi mollitia omnis harum maxime. Vero ratione, qui impedit possimus distinctio quo laborum blanditiis? Totam consectetur veritatis minima debitis vitae.
        Veniam cumque, quo, nostrum voluptates blanditiis voluptatem eum numquam possimus tenetur deleniti incidunt earum, optio fugiat odio eius reiciendis voluptas. Iusto esse explicabo illum quibusdam maiores? Id in fugiat ab.
        Expedita architecto pariatur tempora enim incidunt ducimus iste, vero ab asperiores corrupti, doloremque reprehenderit, iusto tempore obcaecati quasi repudiandae reiciendis placeat non est earum quas nam. Ullam veniam quo consectetur!
        Dolor, molestias. Perspiciatis quidem neque nostrum dolore assumenda consectetur a, quo cum ratione numquam. Recusandae iste commodi excepturi iure pariatur! Doloremque sequi rem amet labore error vero! Quas, sunt illo!
        Beatae vel doloribus aperiam sit ipsum quisquam error, quo distinctio fuga ut ab eos. Quas dolore modi autem, consequatur velit accusamus pariatur aliquid hic delectus. Veritatis unde impedit dignissimos expedita.
        Doloribus voluptatem libero aperiam et minus eius pariatur aliquid ad optio reiciendis iste quibusdam, natus hic adipisci distinctio, nobis veritatis voluptas sapiente ea enim eos amet laborum repudiandae velit! Aspernatur?
        Enim nesciunt autem architecto in deserunt adipisci doloremque optio harum perferendis ducimus, magni odio consequatur similique neque corporis aliquid quos. Nulla assumenda illo similique debitis quod cum dolor animi nisi?
        Sed, id reiciendis maxime labore animi mollitia asperiores doloremque placeat vero. Consequuntur praesentium recusandae enim quam? Velit, temporibus! Alias qui amet aut quos officiis earum unde ipsa temporibus explicabo labore.
        Sit, a. Facere itaque totam accusamus quis. Placeat iste deserunt delectus eligendi cupiditate dignissimos ratione maxime recusandae officia eum dolore ipsam hic vero, ipsa ducimus voluptates tenetur voluptas. Similique, ut!
        In eligendi odit fuga id perspiciatis fugit ipsa ullam, dolorem rerum, reprehenderit omnis unde deleniti animi. Vitae cumque minus ullam et quod, nisi non voluptates ipsum, a dolores, soluta exercitationem!
        Eos ipsam earum, culpa dolore quidem nobis ab ducimus nemo dignissimos deserunt nostrum quos, soluta corporis, perferendis illum? Quibusdam modi doloremque vero illo repellat iusto dolores esse nostrum, veniam commodi.
        Omnis modi ipsum quae minus, laboriosam id molestiae iste explicabo cumque nesciunt. Nemo illum rem deleniti nobis porro, tempora nihil obcaecati earum eveniet quod dolor, veniam officiis numquam ratione minus?
        Minus quos quod facilis repudiandae dignissimos, error dolor excepturi porro voluptate alias sequi eos repellendus aperiam consectetur accusantium placeat aliquid. Laboriosam quasi explicabo nostrum et quod animi consectetur mollitia error!
        Sunt porro fugit neque magni quidem accusamus cupiditate a, deleniti magnam nesciunt numquam quis? Molestias ipsum quasi quod exercitationem quas amet ullam voluptate blanditiis! Nihil eum pariatur vitae voluptatem ex.
        Nihil omnis neque natus provident suscipit optio quasi ut ducimus soluta, voluptatum dicta inventore modi laudantium est quisquam vel reprehenderit quibusdam molestiae explicabo in perspiciatis ratione et placeat. Obcaecati, beatae!
        Fuga ea totam aperiam suscipit, debitis laboriosam doloribus, animi qui, ipsum ullam architecto distinctio magnam unde! Ex illo maxime, iste delectus incidunt atque quas! Maiores dolorum similique quaerat ea quia.
        Aliquam officia iure, quaerat alias iste fugit minima sequi eaque pariatur odit beatae nemo illum sit, in assumenda ad officiis rerum perspiciatis magni eveniet quae molestiae vitae mollitia. Provident, voluptatem.
      </p>
      <h3>Punto 1</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae itaque, quos dolorem necessitatibus in soluta voluptate libero dolore maiores blanditiis, assumenda esse facilis illum repudiandae cumque, hic quod. Vel, maiores?
        Amet dignissimos reprehenderit incidunt, eligendi perspiciatis nostrum beatae neque exercitationem eaque, tenetur laboriosam nobis doloremque sequi cumque accusamus soluta ad. Itaque voluptatibus harum incidunt tempore cupiditate expedita quia maiores exercitationem.
        Odit molestiae, consectetur hic deleniti assumenda possimus explicabo doloribus qui ratione aperiam reprehenderit vel, quo tempora illum enim at obcaecati, voluptas illo iste officia delectus? Illum repellendus tempore dicta cum.
        Doloribus hic dolorum tempore sapiente ullam laboriosam aliquam. Voluptate aspernatur, eligendi mollitia omnis harum maxime. Vero ratione, qui impedit possimus distinctio quo laborum blanditiis? Totam consectetur veritatis minima debitis vitae.
        Veniam cumque, quo, nostrum voluptates blanditiis voluptatem eum numquam possimus tenetur deleniti incidunt earum, optio fugiat odio eius reiciendis voluptas. Iusto esse explicabo illum quibusdam maiores? Id in fugiat ab.
        Expedita architecto pariatur tempora enim incidunt ducimus iste, vero ab asperiores corrupti, doloremque reprehenderit, iusto tempore obcaecati quasi repudiandae reiciendis placeat non est earum quas nam. Ullam veniam quo consectetur!
        Dolor, molestias. Perspiciatis quidem neque nostrum dolore assumenda consectetur a, quo cum ratione numquam. Recusandae iste commodi excepturi iure pariatur! Doloremque sequi rem amet labore error vero! Quas, sunt illo!
        Beatae vel doloribus aperiam sit ipsum quisquam error, quo distinctio fuga ut ab eos. Quas dolore modi autem, consequatur velit accusamus pariatur aliquid hic delectus. Veritatis unde impedit dignissimos expedita.
        Doloribus voluptatem libero aperiam et minus eius pariatur aliquid ad optio reiciendis iste quibusdam, natus hic adipisci distinctio, nobis veritatis voluptas sapiente ea enim eos amet laborum repudiandae velit! Aspernatur?
        Enim nesciunt autem architecto in deserunt adipisci doloremque optio harum perferendis ducimus, magni odio consequatur similique neque corporis aliquid quos. Nulla assumenda illo similique debitis quod cum dolor animi nisi?
        Sed, id reiciendis maxime labore animi mollitia asperiores doloremque placeat vero. Consequuntur praesentium recusandae enim quam? Velit, temporibus! Alias qui amet aut quos officiis earum unde ipsa temporibus explicabo labore.
        Sit, a. Facere itaque totam accusamus quis. Placeat iste deserunt delectus eligendi cupiditate dignissimos ratione maxime recusandae officia eum dolore ipsam hic vero, ipsa ducimus voluptates tenetur voluptas. Similique, ut!
        In eligendi odit fuga id perspiciatis fugit ipsa ullam, dolorem rerum, reprehenderit omnis unde deleniti animi. Vitae cumque minus ullam et quod, nisi non voluptates ipsum, a dolores, soluta exercitationem!
        Eos ipsam earum, culpa dolore quidem nobis ab ducimus nemo dignissimos deserunt nostrum quos, soluta corporis, perferendis illum? Quibusdam modi doloremque vero illo repellat iusto dolores esse nostrum, veniam commodi.
        Omnis modi ipsum quae minus, laboriosam id molestiae iste explicabo cumque nesciunt. Nemo illum rem deleniti nobis porro, tempora nihil obcaecati earum eveniet quod dolor, veniam officiis numquam ratione minus?
        Minus quos quod facilis repudiandae dignissimos, error dolor excepturi porro voluptate alias sequi eos repellendus aperiam consectetur accusantium placeat aliquid. Laboriosam quasi explicabo nostrum et quod animi consectetur mollitia error!
        Sunt porro fugit neque magni quidem accusamus cupiditate a, deleniti magnam nesciunt numquam quis? Molestias ipsum quasi quod exercitationem quas amet ullam voluptate blanditiis! Nihil eum pariatur vitae voluptatem ex.
        Nihil omnis neque natus provident suscipit optio quasi ut ducimus soluta, voluptatum dicta inventore modi laudantium est quisquam vel reprehenderit quibusdam molestiae explicabo in perspiciatis ratione et placeat. Obcaecati, beatae!
        Fuga ea totam aperiam suscipit, debitis laboriosam doloribus, animi qui, ipsum ullam architecto distinctio magnam unde! Ex illo maxime, iste delectus incidunt atque quas! Maiores dolorum similique quaerat ea quia.
        Aliquam officia iure, quaerat alias iste fugit minima sequi eaque pariatur odit beatae nemo illum sit, in assumenda ad officiis rerum perspiciatis magni eveniet quae molestiae vitae mollitia. Provident, voluptatem.
      </p>
      <h3>Punto 2</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae itaque, quos dolorem necessitatibus in soluta voluptate libero dolore maiores blanditiis, assumenda esse facilis illum repudiandae cumque, hic quod. Vel, maiores?
        Amet dignissimos reprehenderit incidunt, eligendi perspiciatis nostrum beatae neque exercitationem eaque, tenetur laboriosam nobis doloremque sequi cumque accusamus soluta ad. Itaque voluptatibus harum incidunt tempore cupiditate expedita quia maiores exercitationem.
        Odit molestiae, consectetur hic deleniti assumenda possimus explicabo doloribus qui ratione aperiam reprehenderit vel, quo tempora illum enim at obcaecati, voluptas illo iste officia delectus? Illum repellendus tempore dicta cum.
        Doloribus hic dolorum tempore sapiente ullam laboriosam aliquam. Voluptate aspernatur, eligendi mollitia omnis harum maxime. Vero ratione, qui impedit possimus distinctio quo laborum blanditiis? Totam consectetur veritatis minima debitis vitae.
        Veniam cumque, quo, nostrum voluptates blanditiis voluptatem eum numquam possimus tenetur deleniti incidunt earum, optio fugiat odio eius reiciendis voluptas. Iusto esse explicabo illum quibusdam maiores? Id in fugiat ab.
        Expedita architecto pariatur tempora enim incidunt ducimus iste, vero ab asperiores corrupti, doloremque reprehenderit, iusto tempore obcaecati quasi repudiandae reiciendis placeat non est earum quas nam. Ullam veniam quo consectetur!
        Dolor, molestias. Perspiciatis quidem neque nostrum dolore assumenda consectetur a, quo cum ratione numquam. Recusandae iste commodi excepturi iure pariatur! Doloremque sequi rem amet labore error vero! Quas, sunt illo!
        Beatae vel doloribus aperiam sit ipsum quisquam error, quo distinctio fuga ut ab eos. Quas dolore modi autem, consequatur velit accusamus pariatur aliquid hic delectus. Veritatis unde impedit dignissimos expedita.
        Doloribus voluptatem libero aperiam et minus eius pariatur aliquid ad optio reiciendis iste quibusdam, natus hic adipisci distinctio, nobis veritatis voluptas sapiente ea enim eos amet laborum repudiandae velit! Aspernatur?
        Enim nesciunt autem architecto in deserunt adipisci doloremque optio harum perferendis ducimus, magni odio consequatur similique neque corporis aliquid quos. Nulla assumenda illo similique debitis quod cum dolor animi nisi?
        Sed, id reiciendis maxime labore animi mollitia asperiores doloremque placeat vero. Consequuntur praesentium recusandae enim quam? Velit, temporibus! Alias qui amet aut quos officiis earum unde ipsa temporibus explicabo labore.
        Sit, a. Facere itaque totam accusamus quis. Placeat iste deserunt delectus eligendi cupiditate dignissimos ratione maxime recusandae officia eum dolore ipsam hic vero, ipsa ducimus voluptates tenetur voluptas. Similique, ut!
        In eligendi odit fuga id perspiciatis fugit ipsa ullam, dolorem rerum, reprehenderit omnis unde deleniti animi. Vitae cumque minus ullam et quod, nisi non voluptates ipsum, a dolores, soluta exercitationem!
        Eos ipsam earum, culpa dolore quidem nobis ab ducimus nemo dignissimos deserunt nostrum quos, soluta corporis, perferendis illum? Quibusdam modi doloremque vero illo repellat iusto dolores esse nostrum, veniam commodi.
        Omnis modi ipsum quae minus, laboriosam id molestiae iste explicabo cumque nesciunt. Nemo illum rem deleniti nobis porro, tempora nihil obcaecati earum eveniet quod dolor, veniam officiis numquam ratione minus?
        Minus quos quod facilis repudiandae dignissimos, error dolor excepturi porro voluptate alias sequi eos repellendus aperiam consectetur accusantium placeat aliquid. Laboriosam quasi explicabo nostrum et quod animi consectetur mollitia error!
        Sunt porro fugit neque magni quidem accusamus cupiditate a, deleniti magnam nesciunt numquam quis? Molestias ipsum quasi quod exercitationem quas amet ullam voluptate blanditiis! Nihil eum pariatur vitae voluptatem ex.
        Nihil omnis neque natus provident suscipit optio quasi ut ducimus soluta, voluptatum dicta inventore modi laudantium est quisquam vel reprehenderit quibusdam molestiae explicabo in perspiciatis ratione et placeat. Obcaecati, beatae!
        Fuga ea totam aperiam suscipit, debitis laboriosam doloribus, animi qui, ipsum ullam architecto distinctio magnam unde! Ex illo maxime, iste delectus incidunt atque quas! Maiores dolorum similique quaerat ea quia.
        Aliquam officia iure, quaerat alias iste fugit minima sequi eaque pariatur odit beatae nemo illum sit, in assumenda ad officiis rerum perspiciatis magni eveniet quae molestiae vitae mollitia. Provident, voluptatem.
      </p>
      <h3>Punto 3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae itaque, quos dolorem necessitatibus in soluta voluptate libero dolore maiores blanditiis, assumenda esse facilis illum repudiandae cumque, hic quod. Vel, maiores?
        Amet dignissimos reprehenderit incidunt, eligendi perspiciatis nostrum beatae neque exercitationem eaque, tenetur laboriosam nobis doloremque sequi cumque accusamus soluta ad. Itaque voluptatibus harum incidunt tempore cupiditate expedita quia maiores exercitationem.
        Odit molestiae, consectetur hic deleniti assumenda possimus explicabo doloribus qui ratione aperiam reprehenderit vel, quo tempora illum enim at obcaecati, voluptas illo iste officia delectus? Illum repellendus tempore dicta cum.
        Doloribus hic dolorum tempore sapiente ullam laboriosam aliquam. Voluptate aspernatur, eligendi mollitia omnis harum maxime. Vero ratione, qui impedit possimus distinctio quo laborum blanditiis? Totam consectetur veritatis minima debitis vitae.
        Veniam cumque, quo, nostrum voluptates blanditiis voluptatem eum numquam possimus tenetur deleniti incidunt earum, optio fugiat odio eius reiciendis voluptas. Iusto esse explicabo illum quibusdam maiores? Id in fugiat ab.
        Expedita architecto pariatur tempora enim incidunt ducimus iste, vero ab asperiores corrupti, doloremque reprehenderit, iusto tempore obcaecati quasi repudiandae reiciendis placeat non est earum quas nam. Ullam veniam quo consectetur!
        Dolor, molestias. Perspiciatis quidem neque nostrum dolore assumenda consectetur a, quo cum ratione numquam. Recusandae iste commodi excepturi iure pariatur! Doloremque sequi rem amet labore error vero! Quas, sunt illo!
        Beatae vel doloribus aperiam sit ipsum quisquam error, quo distinctio fuga ut ab eos. Quas dolore modi autem, consequatur velit accusamus pariatur aliquid hic delectus. Veritatis unde impedit dignissimos expedita.
        Doloribus voluptatem libero aperiam et minus eius pariatur aliquid ad optio reiciendis iste quibusdam, natus hic adipisci distinctio, nobis veritatis voluptas sapiente ea enim eos amet laborum repudiandae velit! Aspernatur?
        Enim nesciunt autem architecto in deserunt adipisci doloremque optio harum perferendis ducimus, magni odio consequatur similique neque corporis aliquid quos. Nulla assumenda illo similique debitis quod cum dolor animi nisi?
        Sed, id reiciendis maxime labore animi mollitia asperiores doloremque placeat vero. Consequuntur praesentium recusandae enim quam? Velit, temporibus! Alias qui amet aut quos officiis earum unde ipsa temporibus explicabo labore.
        Sit, a. Facere itaque totam accusamus quis. Placeat iste deserunt delectus eligendi cupiditate dignissimos ratione maxime recusandae officia eum dolore ipsam hic vero, ipsa ducimus voluptates tenetur voluptas. Similique, ut!
        In eligendi odit fuga id perspiciatis fugit ipsa ullam, dolorem rerum, reprehenderit omnis unde deleniti animi. Vitae cumque minus ullam et quod, nisi non voluptates ipsum, a dolores, soluta exercitationem!
        Eos ipsam earum, culpa dolore quidem nobis ab ducimus nemo dignissimos deserunt nostrum quos, soluta corporis, perferendis illum? Quibusdam modi doloremque vero illo repellat iusto dolores esse nostrum, veniam commodi.
        Omnis modi ipsum quae minus, laboriosam id molestiae iste explicabo cumque nesciunt. Nemo illum rem deleniti nobis porro, tempora nihil obcaecati earum eveniet quod dolor, veniam officiis numquam ratione minus?
        Minus quos quod facilis repudiandae dignissimos, error dolor excepturi porro voluptate alias sequi eos repellendus aperiam consectetur accusantium placeat aliquid. Laboriosam quasi explicabo nostrum et quod animi consectetur mollitia error!
        Sunt porro fugit neque magni quidem accusamus cupiditate a, deleniti magnam nesciunt numquam quis? Molestias ipsum quasi quod exercitationem quas amet ullam voluptate blanditiis! Nihil eum pariatur vitae voluptatem ex.
        Nihil omnis neque natus provident suscipit optio quasi ut ducimus soluta, voluptatum dicta inventore modi laudantium est quisquam vel reprehenderit quibusdam molestiae explicabo in perspiciatis ratione et placeat. Obcaecati, beatae!
        Fuga ea totam aperiam suscipit, debitis laboriosam doloribus, animi qui, ipsum ullam architecto distinctio magnam unde! Ex illo maxime, iste delectus incidunt atque quas! Maiores dolorum similique quaerat ea quia.
        Aliquam officia iure, quaerat alias iste fugit minima sequi eaque pariatur odit beatae nemo illum sit, in assumenda ad officiis rerum perspiciatis magni eveniet quae molestiae vitae mollitia. Provident, voluptatem.
      </p>
    </div>
  </div>


  <footer th:replace="fragment/footer"></footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>

</body>

</html>