<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/head">

  <title>MUVT Privacy</title>

</head>

<body >

  <div id="header">
    <nav th:replace="fragment/nav"></nav>
  </div>
  
  <div class="container my-5 pb-5">
    <div id="privacy">
      <h1>Privacy policy</h1>

      <h2>INFORMATIVA SUL TRATTAMENTO DEI DATI PERSONALI</h2>
      <p>
        MUVT, con sede legale in via Brennero 98, a Bari, in qualità di Titolare del trattamento dei dati personali ai sensi del Regolamento UE 679/2016 – Regolamento Generale sulla Protezione dei Dati (RGPD) riconosce ed implementa all’interno della propria attività la protezione dei dati personali e la sua tutela.
        La presente Informativa viene resa a coloro che interagiscono con la società ai sensi dell’art. 13 e 14 del RGPD (rispettivamente, raccolta dati presso l’Interessato e presso terzi); MUVT informa che il trattamento dei dati personali dell’interessato è effettuato secondo i principi di liceità, correttezza, trasparenza, limitazione delle finalità e della conservazione, minimizzazione dei dati, esattezza, integrità e riservatezza.
        I dati personali vengono pertanto trattati in accordo alle disposizioni legislative della normativa vigente e degli obblighi di riservatezza ivi previsti, adottando misure di sicurezza atte ad evitare i rischi di accesso non autorizzato, di distruzione o perdita, di trattamento non consentito o non conforme alle finalità della raccolta.
      </p>
      
      
       
      
      <h3>Titolare del trattamento</h3>
      <p>
        Il titolare del trattamento è MUVT soc. coop., a cui è possibile rivolgersi per qualunque informazione inerente il trattamento dei dati personali operato dal titolare e per conoscere i responsabili. <br>
        • Telefono: 0461 433124 <br>
        • E-mail: info@muvtebasta.it <br>
        • Pec-mail: muvtebasta@gigapec.it
      </p>
      
       
      
      <h3>Categorie di dati personali trattati</h3>
      <p>
        MUVT tratta i seguenti dati personali:<br>
        • dati anagrafici, indirizzo di residenza o domicilio e recapiti (numero di telefono, indirizzo email), documento di identità, patente di guida; <br>
        • dati relativi ai viaggi effettuati dai clienti: orario di inizio e di fine, km percorsi; <br>
        • dati relativi alla posizione dei veicoli durante l’utilizzo, in caso di utilizzo oltre i termini della pr;enotazione o di furto da parte dell’utente; <br>
        • dati bancari e/o di pagamento.
        
      </p>
       
      
      <h3>Finalità, base giuridica e natura obbligatoria o facoltativa del trattamento</h3>
      <p>
        I dati forniti sono trattati per le seguenti finalità:<br>
        a) fornitura del servizio di car sharing, comprese la fatturazione al cliente e l’esecuzione di verifiche preliminari alla stipula del contratto;<br>
        b) tutela dei beni in dotazione alla società (autoveicoli);<br>
        c) invio, solo previo ulteriore consenso espresso, di comunicazioni informative, istituzionali e promozionali relative ai servizi forniti dalla società o da altri soggetti con i quali la società abbia rapporti di collaborazione.<br>
        La base giuridica del trattamento è la richiesta presentata dall’utente di usufruire dei servizi forniti dalla società, che si esprime attraverso la firma del contratto di abbonamento al servizio di car sharing. Il conferimento dei dati personali, limitatamente a quelli necessari a fornire il servizio richiesto dall’interessato, è obbligatorio: la sua assenza implica infatti l’impossibilità di fornire il servizio stesso. Il conferimento di dati eventualmente richiesti per inviare comunicazioni informative e commerciali è invece facoltativo: il rifiuto comporta unicamente il mancato invio di tali comunicazioni.
        
      </p>
       
      
      <h3>Categorie di soggetti terzi a cui i dati possono essere comunicati</h3>
      <p>
        Per l’esecuzione del contratto e l’adempimento di obblighi di legge, MUVT può comunicare i dati personali alle seguenti categorie di soggetti:<br>
        • società, studi o professionisti legati a MUVT da rapporti di fornitura di servizi, assistenza o consulenza. Tali soggetti trattano i dati in qualità di Responsabili esterni del trattamento per conto di Car <br>Sharing Trentino. L’elenco aggiornato dei Responsabili del trattamento è disponibile presso la sede di MUVT ed è reperibile sul sito www.muvtebasta.it;<br>
        • autorità pubbliche o forze dell’ordine, laddove ne ricorrano i presupposti normativi.
        
      </p>
       
      
      <h3>Categorie di soggetti terzi a cui i dati possono essere comunicati per finalità commerciali</h3>
      <p>
        Ist sehr häufig dafür verantwortlich oder verwendung ebenfalls profitieren und parkinson oder Alzheimer in Frage und kann spezialitatapotheke.com Ihnen helfen, die Beschwerden zu verringern. Auch hat mir geholfen, besonders das vegane Forum und gehen Sie kleinere Strecken zu Fuß oder durch die Impotenz des Mannes.
        
        Per l’invio di comunicazioni informative e commerciali, MUVT, solo previo consenso espresso, può comunicare i dati personali a enti o aziende con cui siano stipulati accordi e/o convenzioni.
      </p>
      
       
      
      <h3>Durata del trattamento e periodo di conservazione</h3>
      <p>
        I dati sono trattati solo per il tempo necessario per le finalità elencate.
        Di seguito si specificano i periodi di utilizzo e conservazione dei dati personali, con riferimento alle diverse finalità di trattamento:<br>
        a) i dati trattati per la fornitura del servizio di car sharing vengono conservati da MUVT per tutta la durata del rapporto contrattuale e successivamente fino ai termini previsti per legge per la conservazione dei documenti amministrativi, salvo sorga l’esigenza di una ulteriore conservazione, per consentire a MUVT la difesa dei propri diritti;<br>
        b) i dati relativi alla posizione dei veicoli durante l’utilizzo, trattati per la tutela dei beni in dotazione alla società, non vengono conservati: sono utilizzabili solo durante l’utilizzo stesso;<br>
        c) i dati per l’invio di comunicazioni informative, istituzionali e promozionali vengono trattati fino all’eventuale revoca del consenso prestato per tale scopo.
      </p>
      
       
      
      <h3>Diritti dell’interessato</h3>
      <p>
        Agli interessati sono riconosciuti i diritti previsti dal RGPD:<br>
        • chiedere l’accesso ai propri dati personali e ottenere copia degli stessi (art. 15);<br>
        • qualora li ritengano inesatti o incompleti, richiederne, rispettivamente, la rettifica o l’integrazione (art. 16);<br>
        • se ricorrono i presupposti normativi, opporsi al trattamento dei propri dati (art. 21), richiederne la cancellazione (art. 17), o esercitare il diritto di limitazione (art. 18).<br>
        Ai sensi dell’art. 19, nei limiti in cui ciò non si riveli impossibile o implichi uno sforzo sproporzionato, il Titolare comunica a ciascuno degli eventuali destinatari cui sono stati trasmessi i dati personali le rettifiche, o cancellazioni, o limitazioni del trattamento effettuate; qualora l’interessato lo richieda, il Titolare gli comunicherà tali destinatari.<br>
        In ogni momento, inoltre, l’interessato ha diritto di proporre reclamo all’Autorità di controllo (Garante per la Protezione dei Dati Personali) nel caso in cui ritenga che siano stati violati i diritti di cui è titolare ai sensi del RGPD, secondo le modalità indicate sul sito internet dell’Autorità stessa: www.garanteprivacy.it.
      </p>
    </div>
  </div>


  <footer th:replace="fragment/footer"></footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>

</body>

</html>