<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/head">

  <title th:replace="${Veicolo1}">Veicolo</title>


</head>
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/thedatepicker@latest/dist/the-datepicker.css"/> -->
<body th:attr="onload='getVeicoloById(' + ${idl} + ')'">
  
  <div id="header">
    <nav th:replace="fragment/nav"></nav>
  </div>


  <div class="wrapper-page">
    <div class="container" id="ouput-div"></div>
    
    <div class="container" th:if="${utente!=null && utente.nome!=null}">
      <div class="row mb-5">
        <div class="col-lg-">
          <div class="border border-success p-3">
            <h3 class="italic pt-2">IL TUO MEZZO SI TROVA QUI:</h3>
            <div id="map" class=""></div>
          </div>
        </div>
        <div id="calendar" class="col-lg-8">
          <!-- <input type="date" class="form-control" id="data">  -->
        </div>
      </div>
    </div>
  </div>


  <footer th:replace="fragment/footer"></footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/thedatepicker@latest/dist/the-datepicker.min.js"></script> -->

  <script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    var idl = /*[[${idl}]]*/"";
    console.log(idl);
  /*]]>*/
  </script>

  <script defer th:src="@{/js/maps.js}"></script>

  <script th:src="@{/js/singleCarJs.js}"></script>

  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

  <!-- <script id="template-swiper" type="text/x-handlebars-template">
  {{#veico}}
      <div class="row">
      <div class="col-lg-6 ps-5 mb-5">
        <img th:src="@{{{this.immagine}}}">
      </div>
      <div class="col-lg-6 ps-lg-1 mb-5">
        <div class="card mt-5">
          <div class="card-body">
            <h5 class="card-title">{{marca}} {{modello}}</h5>
            <div class="card-text">
              <ul class="list-unstyled">
                <li>Alimentazione: {{alimentazione}}</li>
                <li>Trazione: {{trazione}}</li>
                <li>Stato: {{status}}</li>
                <li>Cambio: {{cambio}}</li>
                <li>Sono Qui: {{indirizzo}}</li>
              </ul>
            </div>
            <a  class="btn btn-primary" href="#" id="bottone_prenota">Prenota</a>
          </div>
        </div>
      </div>
    </div>
    {{/veico}}
</script> -->

<script id="template-swiper" type="text/x-handlebars-template">
  {{#veico}}
  <div class="card mb-3 mt-3">
    <div class="row g-0">
      <div class="col-lg-8 d-flex align-items-center justify-content-center">
        <img th:src="@{{{this.immagine}}}" class="img-fluid rounded-start" alt="img-veicolo">
      </div>
      <div class="col-lg-4">
        <div class="card-body">
          <h5 class="card-title fs-4">Informazioni veicolo</h5>
          <div class="card-text">
            <ul class="list-unstyled">
              <li class="fs-5"><i class="fa-solid fa-gas-pump pe-2"></i><b>Alimentazione:</b> {{alimentazione}}</li>
              <li class="fs-5"><i class="fa-solid fa-gauge-high pe-2"></i>Trazione: {{trazione}}</li>
              <li class="fs-5"><i class="fa-solid fa-list-check pe-2"></i>Stato: {{status}}</li>
              <li class="fs-5"><i class="fa-solid fa-gears pe-2"></i>Cambio: {{cambio}}</li>
              <li class="fs-5" th:if="${utente!=null && utente.nome!=null}"><i class="fa-solid fa-location-dot pe-2" ></i>Via: {{indirizzo}}</li>
            </ul>
          </div>
          <div class="hide-button-nd">
            Prenota per il giorno:
            <input type="date" class="form-control mb-3" id="data">
            <a href="#" class="btn btn-primary font italic" id="bottone_prenota">Prenota</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/veico}}
</script>


</body>

</html>